@model JudoPayDotNet.Models.PaymentRequiresThreeDSecureModel
<html>
<head>
    <title>3D secure</title>
</head>
<body>
    <form action="@Model.AcsUrl" id="acsForm" method="post" role="form">
        <div class="form-group">
            @Html.HiddenFor(x => x.Md, new { @id = "MD", @Name = "MD" })
            @Html.HiddenFor(x => x.PaReq, new { @id = "PaReq", @Name = "PaReq" })
            @Html.Hidden("TermUrl", "http://localhost:5050/Checkout/CallbackThreeDSecure")
            @Html.HiddenFor(x => x.ReceiptId, new { @id = "ReceiptId", @Name = "ReceiptId" })
            <div class="show-js">
                Redirecting you to your card issuer.
            </div>
            <div class="hide-js">
                <button type="submit" name="Go" class="btn btn-orange col-xs-12">Go to your issuer</button>
            </div>
        </div>
        <script type="text/javascript">
            document.getElementById("acsForm").submit();
        </script>
    </form>
</body>
</html>

